:root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #647577;
  font-size: 16px;
  color: #647577;
  cursor: pointer;
  background-color: #fff;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border: 1px solid #647577;
  border-radius: 2px;
  transition: all 0.3s ease-out;
  background-color: #647577;
}